body,footer{
  background-image: url(./desktopwilpattu3.jpg);
  background-size:cover;
}
/*using the main image as a background */

.bluebox{
  box-sizing: border-box;
  width: 104%;; 
  height: 70px; 
  background-color:#2b7386;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2%;
}

.whitelink{
  display: inline-block;
  margin-left: 0px;
  margin-right: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8.5pt; 
}

.navigation-list{
  list-style: none;
  display:flex; 
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  text-align: center;
}


.navigation-list a:link{
  color: white;
}
.navigation-list a:hover{
  color: burlywood;
  background-color:cadetblue;
}
.navigation-list a:visited{
  color: azure;
  background-color:cadetblue;
}

.logo{
  text-align: left;
  
}

.logosize{
  width:60px;
  height:60px;
  margin-left:0px ;
  text-align: left;
}
h1{
  color: #2b7386;
  font-family: cursive;
  font-size: 20pt;
  margin-left: 25%;
  width:50%;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.about{margin-left: 10%;
  color:  antiquewhite;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  font-weight:bold;

}
.aboutp{
  margin-left: 10%;
  color: antiquewhite;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
  font-weight:450;
  width:80%;
}

.aboutp:hover {
  border: 1px solid antiquewhite ;
  border-radius: 15px;
  box-shadow: 400px;
}

.slideshow{
  display: flex;
  overflow-x: auto;
  scroll-snap-type:x mandatory;
  scroll-behavior: smooth;
  width:100%;
  height: 200px;
  
}

.slideimg{
  width: max-content;
  height: 200px;
}

/*animation of zooming images when user hovers over it*/
.slideshow img {
  transition: transform 0.3s ease; /* Add transition effect */
}

.slideshow img:hover {
  transform: scale(1.1); /* Scale up images in slideshow on hover */
}

@media(min-width: 600px) 
{
  header.bluebox:hover {
    background-color: #154360; 
  }

body,footer{
    background-image: url(./desktopwilpattu4.jpg);
    background-size: cover;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}

.bluebox{
  box-sizing: border-box;
  width: 104%;; 
  height: 90px; 
  background-color:#2b7386;
}

.whitelink{
  display: inline-block;
  margin-left: 120px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18pt; 
}

.logosize{
    cursor:pointer;
    width:80px;
    height:80px;
    text-align: left;
    margin-left: 20px;
}

.navigation-list{
  list-style: none;
  display:flex; 
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}


.navigation-list a:link{
  color: white;
}
.navigation-list a:hover{
  color: burlywood;
  background-color:cadetblue;
}
.navigation-list a:visited{
  color: azure;
  background-color:cadetblue;
}

  h1{
    color: #2b7386;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30pt;
    margin-left: 23%;
    animation: fadeIn 1s ease-in-out;
  }
  @keyframes fadeIn {
    from {
      opacity: 0; /* Start with 0 opacity */
    }
    to {
      opacity: 1; /* Gradually fade in to full opacity */
    }
  }

  .about{margin-left: 20px;
    color: rgb(167, 20, 105);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-weight:bold;

  }
  .aboutp{
    margin-left: 20px;
    color:black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-weight:450;
    width:40%;
  }

  .aboutp:hover {
    border: 1px solid rgb(167, 20, 105) ;
    border-radius: 15px;
    box-shadow: 400px;
  }

  .slideshow{
    display: flex;
    overflow-x: auto;
    scroll-snap-type:x mandatory;
    scroll-behavior: smooth;
    width:100%;
    height: 500px;
    align-items: center;
  }

  .slideimg{
    width: max-content;
    height: 500px;
  }

  /*animation of zooming images when user hovers over it*/

  .slideshow img {
    transition: transform 0.3s ease; /* Add transition effect */
  }
  
  .slideshow img:hover {
    transform: scale(1.1); /* Scale up images in slideshow on hover */
  }
}